@font-face{
    font-family: title;
    src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face{
    font-family: txt;
    src: url(../fonts/OpenSans-Light.ttf);
}

body{
    margin: 0;
}

header{
    background-color: lightgray;
    height: 190px;
}

h1{
    font-family: title;
    text-transform: uppercase;
    margin: 0;
}

p{
    font-family: txt;
}

img{
    float: left;
    margin: 20px
}

#bio{
    margin-right: 20px;
    padding-top: 20px;
}

hr{
    color: gray;
}

section{
    margin: 20px;
}

img{
    width: 120px;
    height: 150px;
}